section#brand.SectionBrand
  .container-cell
    .row
      .SectionBrand-moto
        | Ruby Simple Exception Notification
      .SectionBrand-rubies
        .SectionBrand-rubies-layer.SectionBrand-rubies__1(class="parallax", data-velocity=".2")
        .SectionBrand-rubies-layer.SectionBrand-rubies__2(class="parallax", data-velocity=".4")
        .SectionBrand-rubies-layer.SectionBrand-rubies__3(class="parallax", data-velocity=".5")
      .SectionBrand-mail
        object
          embed(src='/images/mail.svg')
      img.SectionBrand-logo(src='images/logo.svg')
    +link ("#why", "Why")(class='SectionBrand-scroll')
      i.fa.fa-chevron-down