section#why.SectionWay
  .container-cell
    .row
      .SectionWay-description
        .container-cell
          h2.SectionWay-title
            | Why Rusen
          .SectionWay-description-paragraph
            p.SectionWay-description-paragraph-text
              | The Ruby Simple Exception Notification (a.k.a Rusen)
              | gem provides a simple way for logging and
              | sending errors in any ruby application.
            p.SectionWay-description-paragraph-text
              | The notification includes information about the
              | current request, session, environment and also
              | gives a backtrace of the exception.
      .SectionWay-diagram
        .container-cell
          img( src='images/diagram.svg')